FRONTEND_PUBLIC_URL=http://localhost:4200
FRONTEND_PRIVATE_URL=http://localhost:4201

DB_URL=jdbc:postgresql://localhost:5432/ucf


DB_DOCKER_URL=jdbc:postgresql://postgresql_db:5432/ucf
DB_DOCKER_USERNAME=user
DB_DOCKER_PASSWORD=password

SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password

SPRING_PROFILES_ACTIVE=docker