@use '@angular/material' as mat;
@use './tailwind.css';
@plugin "daisyui";
@include mat.core();

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

html.dark-mode {
  color-scheme: dark;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  transition: background-color 0.3s ease;
}

html.dark-mode body {
  background: #121212;
  color: #e0e0e0;
}
