@use "@angular/material" as mat;
@use './tailwind.css';
@plugin "daisyui";
@include mat.core();

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

body.dark-mode {
  color-scheme: dark;
}

.elevation-level1 {
  box-shadow: var(--mat-sys-level1);
}

.elevation-level2 {
  box-shadow: var(--mat-sys-level2);
}

.elevation-level3 {
  box-shadow: var(--mat-sys-level3);
}

.elevation-level4 {
  box-shadow: var(--mat-sys-level4);
}

.elevation-level5 {
  box-shadow: var(--mat-sys-level5);
}

:root {
  @include mat.list-overrides((
    active-indicator-shape: 5px,
  ));

  @include mat.sidenav-overrides((
    container-shape: 5px,
  ));
}

