<div class="faculties-container">
  <h1>Faculties of {{ universityName() }}</h1>

  <div class="cards-grid">
    @for (faculty of faculties(); track faculty.id) {
      <entity-card
        [id]="faculty.id"
        [name]="faculty.name"
        [image]="faculty.image"
        [entityType]="'faculty'"
        [review]="faculty.review"
        [description]="faculty.description"
        (cardClick)="onFacultyClick($event)"
      ></entity-card>
    } @empty {
      <p>No faculties found.</p>
    }

<!--  DUMMY DATA -->
    <entity-card
      [id]="1"
      name="Faculty of Informatics"
      image=""
      entityType="faculty"
      [review]="8"
      description="Leading faculty in computer science..."
      (cardClick)="onFacultyClick($event)"
    ></entity-card>

  </div>

</div>
