.filter-input {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
