<div class="universities-container" *transloco="let t; prefix 'pages.universities'">
  <h1>{{ t('title') }}</h1>

  <div class="cards-grid">

    @for (university of universities(); track university.id) {
      <entity-card
        [id]="university.id"
        [name]="university.name"
        [image]="university.image ?? ''"
        [entityType]="'university'"
        [rating]="university.rating ?? 0"
        [description]="university.description ?? ''"
        (cardClick)="onUniversityClick($event)"
      ></entity-card>
    }

  </div>
</div>
