<div class="universities-container">
  <h1>Universities</h1>

  <div class="cards-grid">

    @for (university of universities(); track university.id) {
      <entity-card
        [id]="university.id"
        [name]="university.name"
        [image]="university.image"
        [entityType]="'university'"
        [review]="university.review"
        [description]="university.description"
        (cardClick)="onUniversityClick($event)"
      ></entity-card>
    } @empty {
      <p>No universities found.</p>
    }

  </div>
</div>
