<div *transloco="let t; prefix 'components.sidebar'">
  <div class="sidenav-header">
    <div class="header-text" [class.hide-header-text]="collapsed()">
    </div>
  </div>
  <mat-nav-list>
    @for (item of menuItems(); track item.route) {
      <a #rla="routerLinkActive"
         mat-list-item
         [routerLink]="item.route"
         routerLinkActive="selected-menu-item"
         [activated]="rla.isActive"
      >
        <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
                  matListItemIcon>{{ item.icon }}
        </mat-icon>
        @if (!collapsed()) {
          <span matListItemTitle>{{ t(item.label) }}</span>
        }
      </a>
    }
  </mat-nav-list>
</div>
