# create .env file in this directory and copy these values for development
# -------------- Development --------------
# URL
PRIVATE_FRONTEND_URL=http://localhost:4201
PUBLIC_FRONTEND_URL=http://localhost:4200

# Database
POSTGRES_DB=ucf
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ucf
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password

# JWT
JWT_SECRET=dGhpc0lzQVNlY3JldEtleUZvckRldmVsb3BtZW50T25seURvTm90VXNlSW5Qcm9k

# Mail
MAIL_USERNAME=username@mail.com
MAIL_PASSWORD=password
