services:

  proxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/default.conf
    depends_on:
      - backend
      - private_frontend
      - public_frontend

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    depends_on:
      postgresql_db:
        condition: service_started
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    env_file:
      - ../backend/.env
    ports:
      - "8080:8080"

  private_frontend:
    build:
      context: ../private-frontend
      dockerfile: Dockerfile
    ports:
      - "4201:4201"
    volumes:
      - ../private-frontend/src:/app/src
#      - ../private-frontend/node_modules:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

  public_frontend:
    build:
      context: ../public-frontend
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ../public-frontend/src:/app/src
#      - ../public-frontend/public:/app/public
#      - ../public-frontend/node_modules:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

  postgresql_db:
    image: postgres:alpine
    ports:
      - "5432:5432"
    env_file:
      - ./database/.env
