spring:
  datasource:
    username: user
    password: password
    url: jdbc:postgresql://localhost:5432/ucf
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10
  mail:
    host: localhost
  devtools:
    restart:
      enabled: true