spring:
  application:
    name: backend
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
  sql:
    init:
      mode: always
  mail:
    host: mailhog
    port: 1025
    username: user@gmail.com
    password: password
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
info:
  application:
    name: backend
    description: Backend service
    author: Peter Červeň
    version: 1.0.0
server:
  port: 8080
  ssl:
    enabled: false
    key-store: classpath:local_key.p12
    key-store-password: ${DEFAULT_PASSWORD}
    key-password: ${DEFAULT_PASSWORD}
    key-store-type: PKCS12
    key-alias: local_ssl_key
frontend:
  public:
    url: http://localhost:4200
  private:
    url: http://localhost:4201