spring:
  datasource:
    username: user
    password: password
    url: jdbc:postgresql://postgresql_db:5432/ucf
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10