<div class="filter-container" *transloco="let t; prefix 'reviewFilter'">
  <div class="filter-header">
    <mat-icon>sort</mat-icon>
    <h3>{{ t('sortReviews') }}</h3>
  </div>

  <div class="filters">
    <!-- Sort By -->
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>{{ t('sortBy') }}</mat-label>
      <mat-icon matIconPrefix>sort</mat-icon>
      <mat-select
        [(value)]="selectedSort"
        (selectionChange)="onSortChange($event.value)"
      >
        @for (option of sortOptions; track option.value) {
          <mat-option [value]="option.value">
            {{ t('sortOptions.' + option.value) }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
